@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --foundation-errorerror-400: rgba(237, 85, 85, 1);
  --foundation-errorerror-500: rgba(233, 43, 43, 1);
  --foundation-errorerror-600: rgba(212, 39, 39, 1);
  --foundation-errorerror-700: rgba(165, 31, 31, 1);
  --foundation-graygray-900: rgba(42, 49, 58, 1);
  --foundation-successsuccess-500: rgba(18, 187, 35, 1);
  --foundation-successsuccess-600: rgba(16, 170, 32, 1);
  --foundation-successsuccess-700: rgba(13, 133, 25, 1);
  --foundationbrandbrand-100: rgba(193, 204, 246, 1);
  --foundationbrandbrand-50: rgba(235, 238, 252, 1);
  --foundationbrandbrand-500: rgba(54, 89, 226, 1);
  --foundationbrandbrand-600: rgba(49, 81, 206, 1);
  --foundationbrandbrand-700: rgba(38, 63, 160, 1);
  --foundationbrandbrand-75: rgba(216, 224, 253, 1);
  --foundationgraygray-200: rgba(207, 212, 220, 1);
  --foundationgraygray-300: rgba(185, 192, 203, 1);
  --foundationgraygray-50: rgba(245, 246, 247, 1);
  --foundationgraygray-500: rgba(151, 161, 178, 1);
  --foundationgraygray-600: rgba(137, 147, 162, 1);
  --foundationtext-colorsprimary-text-color: rgba(35, 35, 35, 1);
  --foundationtext-colorssecondary-text-color: rgba(119, 119, 119, 1);
  --foundationtext-colorsteritiary-text-color: rgba(175, 175, 175, 1);
  --typography-styles-body-regular-font-family: "NunitoSans-Regular", Helvetica;
  --typography-styles-body-regular-font-size: 14px;
  --typography-styles-body-regular-font-style: normal;
  --typography-styles-body-regular-font-weight: 400;
  --typography-styles-body-regular-letter-spacing: 0px;
  --typography-styles-body-regular-line-height: 20px;
  --typography-styles-large-regular-font-family: "NunitoSans-Regular", Helvetica;
  --typography-styles-large-regular-font-size: 16px;
  --typography-styles-large-regular-font-style: normal;
  --typography-styles-large-regular-font-weight: 400;
  --typography-styles-large-regular-letter-spacing: 0px;
  --typography-styles-large-regular-line-height: 24px;
  --typography-styles-small-regular-font-family: "NunitoSans-Regular", Helvetica;
  --typography-styles-small-regular-font-size: 12px;
  --typography-styles-small-regular-font-style: normal;
  --typography-styles-small-regular-font-weight: 400;
  --typography-styles-small-regular-letter-spacing: 0px;
  --typography-styles-small-regular-line-height: 20px;
  --white: rgba(255, 255, 255, 1);
}
